
@{
    ViewBag.Name = "Name";
    ViewBag.Owner = "Owner";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		body {
			font-family: 'Courier new';
			margin: 0;
			background: #442896;
			text-align: center;
		}

		.name {
			display: inline-block;
			position: relative;
			margin-top: 200px;
			margin-top: 30vh;
			color: #10072b;
			font-size: 100px;
			font-weight: bold;
			text-shadow: -4px -6px 1px red;
		}
		.name:before {
			content: 'name';
			position: absolute;
			right: 102%;
			top: 0;
			font-size: 20px;
			text-shadow: none;
		}

		.owner {
			display: inline-block;
			position: relative;
			color: #10072b;
			font-size: 100px;
			font-weight: bold;
			text-align: center;
			text-shadow: -4px -6px 1px red;
		}
		.owner:before {
			content: 'owner';
			position: absolute;
			right: 102%;
			top: 0;
			font-size: 20px;
			text-shadow: none;
		}
	</style>
</head>
<body>
	
	<div class="name">@Model.Name</div>
	<br>
	<div class="owner">@Model.Owner</div>

</body>
</html>

